<form *ngIf="!registerForm">
  <div class="imgcontainer">
    <img src="/assets/logo.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" id="uname" [(ngModel)]="model.uname" required [ngModelOptions]="{standalone: true}">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="psw" [(ngModel)]="model.psw" required [ngModelOptions]="{standalone: true}">
    <button (click)="login()">Login</button>
  </div>
  <button (click)="register()">Registro</button>
</form>

<form *ngIf="registerForm">
  <div class="imgcontainer">
    <img src="/assets/logo.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" id="uname" [(ngModel)]="model.uname" required [ngModelOptions]="{standalone: true}">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="psw" [(ngModel)]="model.psw" required [ngModelOptions]="{standalone: true}">
    <button (click)="login()">Sign Up</button>
  </div>
  <button (click)="registerInactive()">Login</button>
</form>
